body{
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.sendMsg{
    margin: 20px;
    display: flex;
    flex-direction: row;
}
.sendMsg > textarea {
    border-color: transparent;
    border-radius: 10px;
    width: 380px;
    height: 80px;
    padding: 10px;
}
.sendMsg > textarea:hover{
    border-color: #BBB3A8;
}
.sendMsg > button{
    background-color: white;
    border-color: transparent;
    border-radius: 10px;
    width: 250px;
    height: 40px;
    padding: 5px;
    transition: 0.3s;
    margin: auto 10px;
}
.sendMsg > button:hover{
    background-color: #A37B46;
    color: white;
}
.getMsg{
    margin: 0 20px;
    display: flex;
    flex-direction: column;
}
.getMsg > h2{
    margin: 0;
    padding: 0;
}
.getMsg > p{
    width: 660px;
}

@media all and (max-width: 480px) {
    .sendMsg{
        flex-direction: column;
        margin-bottom: 0;
    }
    .sendMsg > textarea {
        width: 90%;
        height: 80px;
        margin: 0 auto;
    }
    .sendMsg > button{
        width: 60%;
        margin: 10px auto;
    }
    .getMsg > p{
        width: 100%;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        margin-top: 10px;
    }
}